@import "./mixins";

@mixin --use-frame-iphone {
  .iphone5-frame {
    min-width: 320px;
    width: 320px;
    max-width: 320px;

    min-height: 568px;
    height: 568px;
    max-height: 568px;
  }

  .iphone6-frame,
  .iphone7-frame,
  .iphone8-frame {
    min-width: 375px;
    width: 375px;
    max-width: 375px;

    min-height: 667px;
    height: 667px;
    max-height: 667px;
  }

  .iphoneX-frame {
    min-width: 375px;
    width: 375px;
    max-width: 375px;

    min-height: 812px;
    height: 812px;
    max-height: 812px;
  }
}

@mixin --use-layout {
  @include --use-margin;
  @include --use-width;
  @include --use-height;
  @include --use-display;
  @include --use-position;
  @include --use-contain;

  @include --use-all-mq("resizable") {
    overflow: hidden;
    resize: both;
  }

  @include --use-all-mq("resizable:x") {
    overflow-x: hidden;
    resize: horizontal;
  }

  @include --use-all-mq("resizable:y") {
    overflow-y: hidden;
    resize: vertical;
  }
}

@mixin --use-margin {
  @include --use-all-mq("m:auto") { margin: 0 auto; }
  @include --use-all-mq("mx:auto") { margin: auto; }
}

@mixin --use-width {
  @include --use-all-mq("w:auto") { width: auto; }
  @include --use-all-mq("w:screen") { width: 100vw; }
  @include --use-all-mq("w:full") { width: 100%; }
  @include --use-all-mq("min-w:auto") { min-width: auto; }
  @include --use-all-mq("min-w:full") { min-width: 100%; }
  @include --use-all-mq("max-w:auto") { max-width: auto; }
  @include --use-all-mq("max-w:full") { max-width: 100%; }
}

@mixin --use-height {
  @include --use-all-mq("h:auto") { height: auto; }
  @include --use-all-mq("h:screen") { height: 100vh; }
  @include --use-all-mq("h:full") { height: 100%; }
  @include --use-all-mq("min-h:auto") { min-height: auto; }
  @include --use-all-mq("min-h:full") { min-height: 100%; }
  @include --use-all-mq("max-h:auto") { max-height: auto; }
  @include --use-all-mq("max-h:full") { max-height: 100%; }
}

@mixin --use-display {
  @include --use-all-mq("d-b")  { display: block; }
  @include --use-all-mq("d-i")  { display: inline; }
  @include --use-all-mq("d-ib") { display: inline-block; }
}

@mixin --use-contain {
  $contains: (content, initial, size);
  @each $contain in $contains {
    @include --use-all-mq("contain:#{$contain}") { contain: $contain; }
  }
}

@mixin --use-position {
  @include --use-all-mq("pos-r") { position: relative; }

  @include --use-all-mq("pos-a:full") {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
