@mixin --use-reset {
  .btn\:reset {
    outline: none;
    border: 0;
    background: transparent;
  }

  .input\:reset {
    outline: none;
    border: 0;
    background: transparent;
    &[type="text"] { cursor: text; }
  }

  .list\:reset {
    margin: 0;
    padding: 0;

    list-style: none;
  }
}
