@import "./mixins";

@mixin --use-reset {
  @include --use-all-mq("btn:reset") {
    outline: none;
    border: 0;
    background: transparent;
  }

  @include --use-all-mq("input:reset") {
    outline: none;
    border: 0;
    background: transparent;
    &[type="text"] { cursor: text; }
  }

  @include --use-all-mq("list:reset") {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
