@mixin --use-shadow {
  .box\:shadow { // TODO: créer une variable qui change en fonction du theme
    box-shadow: 2px 2px 4px rgba(black, 0.25);
  }

  .\*\:shadow {
    --shadow-color: currentColor;
    filter: drop-shadow(var(--shadow-color) 0px 0px 6px);
  }
}
