@import "./mixins";

@mixin --sr-only {
  @include --use-all-mq("sr-only") {
    position: absolute !important;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

@mixin --use-blur {
  @include --use-all-mq("blur") {
    filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 9999;

    &, * { user-select: none !important; }

    * {
      pointer-events: none !important;
      z-index: 1 !important;
    }
  }

  img:not([alt]),
  img[alt=""] {
    filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 9999;

    &, * { user-select: none !important; }

    * {
      pointer-events: none !important;
      z-index: 1 !important;
    }
  }
}

@mixin --use-visibility {
  [hidden] { display: none; }

  @include --use-all-mq("hidden") { display: none; }
  @include --use-all-mq("shown") { display: block; }

  $visibility: (collapse, hidden, visible);
  @each $v in $visibility {
    @include --use-all-mq("visibility-#{$v}") { visibility: $v; }
  }

  @include --use-blur;
  @include --sr-only;
}
