/* ! Source invalide */

/* padding */
.p\=*:param(number) {
  padding: calc(var(--space) * param(number));
}
.pt\=*:param(number) {
  padding-top: calc(var(--space) * param(number));
}
.pr\=*:param(number) {
  padding-right: calc(var(--space) * param(number));
}
.pb\=*:param(number) {
  padding-bottom: calc(var(--space) * param(number));
}
.pl\=*:param(number) {
  padding-left: calc(var(--space) * param(number));
}
.px\=*:param(number) {
  padding-right: calc(var(--space) * param(number));
  padding-left: calc(var(--space) * param(number));
}
.py\=*:param(number) {
  padding-top: calc(var(--space) * param(number));
  padding-bottom: calc(var(--space) * param(number));
}

/* margin */
.m\=*:param(number) {
  margin: calc(var(--space) * param(number));
}
.mt\=*:param(number) {
  margin-top: calc(var(--space) * param(number));
}
.mr\=*:param(number) {
  margin-right: calc(var(--space) * param(number));
}
.mb\=*:param(number) {
  margin-bottom: calc(var(--space) * param(number));
}
.ml\=*:param(number) {
  margin-left: calc(var(--space) * param(number));
}
.mx\=*:param(number) {
  margin-right: calc(var(--space) * param(number));
  margin-left: calc(var(--space) * param(number));
}
.my\=*:param(number) {
  margin-top: calc(var(--space) * param(number));
  margin-bottom: calc(var(--space) * param(number));
}

/* width */
.w\=*:param(number) {
  width: calc(var(--space) * param(number));
}
.max-w\=*:param(number) {
  max-width: calc(var(--space) * param(number));
}
.min-w\=*:param(number) {
  min-width: calc(var(--space) * param(number));
}

/* height */
.h\=*:param(number) {
  height: calc(var(--space) * param(number));
}
.max-h\=*:param(number) {
  max-height: calc(var(--space) * param(number));
}
.min-h\=*:param(number) {
  min-height: calc(var(--space) * param(number));
}

/* width & height */
.size\=*:param(number) {
  height: calc(var(--space) * param(number));
  width: calc(var(--space) * param(number));
}

/* gap */
.gap\=*:param(number) {
  gap: calc(var(--space) * param(number));
}

/* opacity */
.opacity\=*:param(number),
.opacity\:hover\=*:hover:param(number),
.opacity\:focus\=*:focus:param(number) {
  opacity: param(number);
}

/* border-radius */
.border\:radius\=*:param(number) {
  border-radius: calc(2px * param(number));
}
.border-t\:radius\=*:param(number) {
  border-top-right-radius: calc(2px * param(number));
  border-top-left-radius: calc(2px * param(number));
}
.border-tl\:radius\=*:param(number) {
  border-top-left-radius: calc(2px * param(number));
}
.border-tr\:radius\=*:param(number) {
  border-top-right-radius: calc(2px * param(number));
}
.border-b\:radius\=*:param(number) {
  border-bottom-right-radius: calc(2px * param(number));
  border-bottom-left-radius: calc(2px * param(number));
}
.border-bl\:radius\=*:param(number) {
  border-bottom-left-radius: calc(2px * param(number));
}
.border-br\:radius\=*:param(number) {
  border-bottom-right-radius: calc(2px * param(number));
}
.border-r\:radius\=*:param(number) {
  border-top-right-radius: calc(2px * param(number));
  border-bottom-right-radius: calc(2px * param(number));
}
.border-l\:radius\=*:param(number) {
  border-top-left-radius: calc(2px * param(number));
  border-bottom-left-radius: calc(2px * param(number));
}

/* font-size */

.f-size\=*:param(length),
.f-size\:hover\=*:hover:param(length) {
  font-size: param(length);
}

.f-size\=*:param(percentage),
.f-size\:hover\=*:hover:param(percentage) {
  font-size: param(percentage);
}

/* pour le fun */

.bg\:*-*:param(number, color) {
  background: param(color);
}

.bg\:*:param(color),
.bg\:hover\:*:hover:param(color) {
  background-color: param(color);
}

.color\:*:param(color),
.color\:hover\:*:param(length) {
  color: param(color);
}

/* ? Source valide */
